---
layout: home
---

<br>
<br>

<!--<div class="custom-row">-->
<!--  {% include semantic-tree/frontend.html %}-->
<!--</div>-->

<div class="custom-row">
  {% include semantic-tree/backend.html %}
  {% include semantic-tree/testing.html %}
</div>

<div class="custom-row">
  {% include semantic-tree/architecture.html %}
  {% include semantic-tree/data.html %}
</div>

<div class="custom-row">
  {% include semantic-tree/infra-system.html %}
  {% include semantic-tree/monitoring.html %}
</div>

<div class="custom-row">
  {% include semantic-tree/algorithm.html %}
  {% include semantic-tree/data-structure.html %}
</div>

