<div class="custom-column">
  <div class="custom-column-title">백엔드</div>
  <div><a class="custom-column-link" href="spring/2021-04-21-Security.html">* (스프링&자바) 스프링 시큐리티 이해하기</a></div>
  <div><a class="custom-column-link" href="spring/2021-04-27-스프링부트자동설정.html">* (스프링&자바) 스프링부트 자동설정 이해하기</a></div>
  <div><a class="custom-column-link" href="spring/2021-04-28-내장웹서버.html">* (스프링&자바) 내장 웹서버 이해하기</a></div>
  <div><a class="custom-column-link" href="spring/2021-05-11-Servlet.html">* (스프링&자바) Servlet 이란(+ DI 매커니즘)</a></div>

  <div><a class="custom-column-link" href="spring/2021-04-23-바이트코드.html">* (자바) 바이트 코드 이해하기</a></div>
  <div><a class="custom-column-link" href="spring/2021-04-24-리플렉션.html">* (자바) 리플렉션 이해하기</a></div>
  <div><a class="custom-column-link" href="spring/2021-04-25-프록시.html">* (자바) 프록시 이해하기</a></div>
  <div><a class="custom-column-link" href="spring/2021-04-26-어노테이션프로세서.html">* (자바) 어노테이션 프로세서 이해하기(feat. Lombok 의 원리)</a></div>
  <div><a class="custom-column-link" href="architecture/2021-06-18-디자인패턴-스트레티지패턴.html#인터페이스-개념-바로잡기">* (자바) 인터페이스 개념 바로잡기</a></div>
  <div><a class="custom-column-link" href="kotlin/2021-06-25-document.html#java에서-final은-무엇이며-어떤-목적으로-사용하는가">* (자바) final 의 역할은 무엇이며 언제 사용되는가</a></div>
  <div><a class="custom-column-link" href="spring/2021-06-13-java-cleancode-1.html#java의-enum은-메모리에-언제-어떻게-할당되는가">* (자바) java의 enum은 언제, 어떻게 메모리에 할당 되는가</a></div>
  <div><a class="custom-column-link" href="kotlin/2021-07-03-kotlin-in-action-2.html#25-코틀린의-예외-처리">* (자바) Unchecked Exception VS Checked Exception</a></div>
  <div><a class="custom-column-link" href="spring/2021-05-30-클린코드필요성.html">* (자바) 클린코드란 무엇이며 왜 필요할까</a></div>
  <div><a class="custom-column-link" href="spring/2021-05-31-클린코드객체지향생활체조.html">* (자바) 객체지향생활체조 원칙</a></div>
  <div><a class="custom-column-link" href="spring/2021-06-01-객체지향생활체조상세.html">* (자바) 객체지향생활체조 원칙 상세 정리(1 ~ 9)</a></div>
  <div><a class="custom-column-link" href="spring/2021-06-13-java-cleancode-1.html">* (자바) 클린코드 미션 - 문자열 계산기</a></div>
  <div><a class="custom-column-link" href="spring/2021-06-18-java-cleancode-2.html">* (자바) 클린코드 미션 - 숫자야구게임</a></div>

  <div><a class="custom-column-link" href="kotlin/2021-06-25-basic.html">* (코틀린) 코틀린 공식문서 Basic syntax</a></div>
  <div><a class="custom-column-link" href="kotlin/2021-06-25-basic.html#kotlin에서의-open은-무슨-역할을-하는가">* (코틀린) open 키워드 이해하기</a></div>
  <div><a class="custom-column-link" href="kotlin/2021-07-03-kotlin-in-action-2.html#244-in-으로-컬렉션이나-범위의-원소-검사">* (코틀린) in 키워드 이해하기</a></div>
  <div><a class="custom-column-link" href="kotlin/2021-07-03-kotlin-in-action-2.html#251-try-catch-finally">* (코틀린) checked exception 에 대한 코틀린의 철학</a></div>
  <div><a class="custom-column-link" href="kotlin/2021-06-29-kotlin-in-action-1.html">* (Kotlin In Action) 1장 코틀린이란 무엇이며, 왜 필요한가</a></div>
  <div><a class="custom-column-link" href="kotlin/2021-07-03-kotlin-in-action-2.html">* (Kotlin In Action) 2장 코틀린 기초</a></div>
  <br>
</div>
