<div class="custom-column">
  <div class="custom-column-title">데이터베이스</div>
  <div><a class="custom-column-link" href="database/2021-04-20-NEXTSTEP-인프라공방-Redis%20사용법%20정리.html">* Redis 활용하기</a></div>
  <div><a class="custom-column-link" href="database/2021-04-21-NEXTSTEP-인프라공방-인덱스%20이해하기.html">* 인덱스 이해하기 & DB 튜닝</a></div>
  <div><a class="custom-column-link" href="database/2021-04-22-NEXTSTEP-인프라공방-미션6-1-조회%20성능%20개선하기.html">* DB 튜닝 실습</a></div>
  <div><a class="custom-column-link" href="database/2021-04-23-NEXTSTEP-인프라공방-미션6-2-DB이중화.html">* DB 이중화 하기(master, slave)</a></div>
  <div><a class="custom-column-link" href="database/2021-06-09-mysql_isolation_level.html#lock-알아보기">* shared lock vs exclusive lock</a></div>
  <div><a class="custom-column-link" href="database/2021-06-09-mysql_isolation_level.html#동시성-제어가-되지-않으면-무슨-일이-발생할까-신뢰할-수-없는-read에-대해-알아보기">* 부정합 read 유형 세 가지</a></div>
  <div><a class="custom-column-link" href="database/2021-06-09-mysql_isolation_level.html">* mysql isolation level</a></div>
  <br>
</div>
