<div class="custom-column">
  <div class="custom-column-title">인프라</div>
  <div><a class="custom-column-link" href="infra/2021-03-15-김영한-HTTP.html">* HTTP 정리</a></div>
  <div><a class="custom-column-link" href="infra/2021-03-29-NEXTSTEP-인프라공방-망%20분리하기.html">* 망 분리하기</a></div>
  <div><a class="custom-column-link" href="infra/2021-03-30-NEXTSTEP-인프라공방-통신%20확인하기.html">* 통신 확인하기</a></div>
  <div><a class="custom-column-link" href="infra/2021-03-31-NEXTSTEP-인프라공방-미션1-서비스구성하기.html">* VPC 이용한 망분리 환경 서버 구축하기(+ bastion)</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-02-NEXTSTEP-인프라공방-도커컨테이너이해하기.html">* 도커 이해하기(도커 원리)</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-03-NEXTSTEP-인프라공방-미션2-서비스배포하기.html#1-forward-proxy-reverse-proxy">* forward proxy, reverse proxy</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-03-NEXTSTEP-인프라공방-미션2-서비스배포하기.html#2-tls">* HTTPS 동작 원리(대칭키 활용한 인증 원리와 흐름 이해)</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-03-NEXTSTEP-인프라공방-미션2-서비스배포하기.html">* NGINX, Docker, git Action 활용한 서버 구축하기</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-17-NEXTSTEP-인프라공방-리버스프록시개선.html">* reverse proxy 개선하기</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-18-NEXTSTEP-인프라공방-캐싱활용하기.html">* ETag 통한 캐시 활용하기</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-19-NEXTSTEP-인프라공방-미션5-화면%20응답%20개선하기.html">* reverse proxy 개선, Redis 통한 화면 응답 개선하기</a></div>
  <div><a class="custom-column-link" href="infra/2021-05-28-ProcessAndThread.html">* 커널, 프로세스, 쓰레드 알아보기</a></div>
  <br>
</div>
