<div class="custom-column">
  <div class="custom-column-title">모니터링</div>
  <div><a class="custom-column-link" href="infra/2021-04-04-NEXTSTEP-인프라공방-서버진단하기.html">* 서버 진단하기</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-05-NEXTSTEP-인프라공방-애플리케이션진단하기.html">* 어플리케이션 진단하기(Thread 덤프 실습)</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-06-NEXTSTEP-인프라공방-미션3-서비스운영하기.html">* logback 설정 및 cloudwatch 설정하기</a></div>
  <div><a class="custom-column-link" href="infra/2021-04-13-NEXTSTEP-인프라공방-웹성능진단하기.html">* 웹 성능 진단하기</a></div>
  <br>
</div>
